[features]
resolution = true
skip-lint = false

[programs.localnet]
spiral_token = "SP1RAL111111111111111111111111111111111"

[programs.devnet]
spiral_token = "SP1RAL111111111111111111111111111111111"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[[test.genesis]]
address = "SP1RAL111111111111111111111111111111111"
program = "spiral_token"